body {
    background: blanchedalmond;
    font-family: "Markazi Text", serif;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}

/*Header*/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0,0.7)), url("../images/Sumatran_Tiger_Berlin_Tierpark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 200px 0;
}
header h1 {
    font-weight: 700;
    font-size: 120px;
    line-height: 1;
    margin: 30px 0;
    letter-spacing: 20px;
}
header h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
    margin: 30px 0;
}
header h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 5px;
}

/*Footer*/
.grid {
    display:grid;
    grid-template-columns: 1fr, 2fr, 2fr;
}
section {
    max-width: 1200px;
    margin: 0 auto;
}
footer {
    color: white;
    background-image: linear-gradient(rgba(3, 29, 8, 0.9),rgba(13, 66, 4, 0.9)), url("../images/mandy-choi-_qZ0us4az20-unsplash-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    opacity: 0.7;
}
footer h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}
footer p {
    font-weight: 400;
    font-size: 16px;
    margin-right: 20px;
    line-height: 24px;
}
footer li {
    list-style: none;
}
/*Media*/
@media (max-width: 960px) {
    header {
        padding: 60px 0;
    }

    header h1 {
        font-size: 48px;
    }

    header h2 {
        font-size: 20px;
    }
    header h3 {
        font-size: 12px;
    }
}